{% extends 'main.html' %} 
{% load static %}
{% block content %}
        <div class="content">
            <div class="out-sec1">
              <div class="sec">
                <div class="in-sec">
                <div class="about-info">
                    <h2>الهدف من المخبر :</h2>
                    <ul>
                      <li>التطبيق العملي لأفكار الإبصار الحاسوبي</li>
                      <li>التعامل مع بيئة العمل والمكتبات الأساسية</li>
                    </ul>
                </div>
                  <div class="about-image">
                    <img src="{% static 'images/d2.jpg' %}" />
                  </div>
                </div>
              </div>
              <div class="sec">
                <div class="in-sec">
                  <div class="about-image">
                    <img src="{% static 'images/a.jpg' %}" alt="" />
                  </div>
                  <div class="about-info">
                    <h2>حول المخبر :</h2>
                    <ul>
                      <li>عدد الجلسات 6</li>
                      <li>الدرجة النهائية 30</li>
                      <li>
                        مطلوب تقديم مشروع كتطبيق عملي حول إحدى أفكار الإبصار الحاسوبي
                      </li>
                      <li>يجب تحقيق نسبة حضور 40%</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="sec">
                <div class="in-sec">
                  <div class="about-info">
                    <h2>المحاور الأساسية في المخبر :</h2>
                    <ul>
                      <li>مقدمة عن المخبر وبيئة العمل البرمجية</li>
                      <li>معالجة الصورة</li>
                      <li>الهيستوغرام</li>
                      <li>المرشحات المكانية</li>
                      <li>الإسقاط</li>
                      <li>خصائص الأغراض</li>
                    </ul>
                  </div>
                  <div class="about-image">
                      <img src="{% static 'images/d1.jpg' %}" alt="" />
                    </div>
                </div>
              </div>
            </div>
          </div>
       
{% endblock %}
