{% extends 'main.html' %}
{% block content %} 
  <div class="content">
    <div class="out-sec1">
      <div class="sec">
        <form class="session" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h1>Session</h1>
          <div>
            <label class="label">Session Name :</label>
            {{ form.session_name }}
          </div>
          <div>
            <label class="label">Session Date :</label>
            {{ form.created_date }}
          </div>
          <div>
            <label class="label">Session content :</label>
            {{ form.session_content }}
          </div>
          <label class="label">Image :</label>
            {{ form.image_self }}
          </label>
          <div>
            <label class="label">Session File :</label>
            <div class="cur">{{ form.session_file }}</div>
          </div>
        <!-- <div>
            <label class="label">Profile :</label>
            {{ form.profile }}
          </div>  -->
          <br />
          <input type="submit"  value="Send" />
        </form>
      </div>
    </div>
  </div>
{% endblock %} 