{% extends 'main.html' %} 
{% block content %} 
<div class="content">
  <div class="out-sec1">
    <div class="sec">
       <h1>New messages (<span>{{unreadCount}}</span>)</h1> 
       {% for message in messageRequests %}
          {% if message.is_read %}
            <a href="{% url 'message' message.id %}">
               <div class="message">
                  <div class="message-from">
                      <div>{{message.name}}</div>
                      <div>{{message.subject}}</div>
                  </div>
                  <div>{{message.created}}</div>
               </div>
            </a>
      {% else %}
      <a href="{% url 'message' message.id %}">
        <div class="unread-message">
              <div class="message-from">
                 <div>{{message.name}}</div>
                 <div>{{message.subject}}</div>
              </div>
              <div>{{message.created}}</div>
        </div> 
      </a>
      {% endif %} 

    {% endfor %}
    </div>
  </div>
</div> 
{% endblock %}