<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="all.min.css" />
    <link rel="stylesheet" href="normalize.css" />
    <title>Received message</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="images/c13.jpg" alt="" />
    </div>
    <div class="nav-bar">
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="sessions.html">Sessions</a>
      <a href="inbox.html">Inbox</a>
      <a href="contact.html">Contact</a>
      <a href="login.html">Log in</a>
    </div>
    <i class="fas fa-bars toggle-menu"></i>
    <ul class="toggled">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="sessions.html">Sessions</a></li>
      <li><a href="inbox.html">Inbox</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="login.html">Log in</a></li>
    </ul>
  </header>
      <div class="content">
        <div class="out-sec1">
          <div class="sec">
            <div class="msg-info">
              <div class="sender">
                <div>Subject</div>
                <div>Sender Name</div>
              </div>
              <div>june 21,2023,11:11pm</div>
            </div>
              <div class="text">ContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContent</div>
          </div>
        </div>
      </div>
    <script src="main.js"></script>
</body>
</html>