<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="all.min.css" />
    <link rel="stylesheet" href="normalize.css" />
    <title>About Lab</title>
</head>
<body>
    <div class="nav">
        <img src="images/logo44.jfif" alt="" />
        <div class="nav-bar">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="sessions.html">Sessions</a>
          <a href="inbox.html">Inbox</a>
          <a href="contact.html">Contact</a>
          <a href="login.html">Log in</a>
        </div>
        <i class="fas fa-bars toggle-menu"></i>
        <ul class="toggled">
            <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="sessions.html">Sessions</a></li>
          <li><a href="inbox.html">Inbox</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="login.html">Log in</a></li>
        </ul>
      </div>
      <!-- <div class="content"> -->
        <div class="about">

            <div class="aim">
                <h1>الهدف من المخبر :</h1>
                <ul>
                    <li>التطبيق العملي لأفكار الإبصار الحاسوبي</li>
                    <li>التعامل مع بيئة العمل والمكتبات الأساسية</li>
                </ul>
                <div class="image ">
                    <img src="images/a4.jfif" >
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="lab">
                <div class="image">
                    <img src="images/a1.jfif" alt="">
                    <img src="images/a6.jfif" alt="">
                    <div class="overlay"></div>
                </div>
                <h1>حول المخبر :</h1>
                <ul>
                    <li>عدد الجلسات 6</li>
                    <li>الدرجة النهائية 30</li>
                    <li>مطلوب تقديم مشروع كتطبيق عملي حول إحدى أفكار الإبصار الحاسوبي</li>
                    <li>يجب تحقيق نسبة حضور 40%</li>
                </ul>
            </div>
            <div class="addr">
                <div>
                    <h1>المحاور الأساسية في المخبر :</h1>
                    <ul>
                        <li>مقدمة عن المخبر وبيئة العمل البرمجية</li>
                        <li>معالجة الصورة</li>
                        <li>الهيستوغرام</li>
                        <li>المرشحات المكانية</li>
                        <li>الإسقاط</li>
                        <li>خصائص الأغراض</li>
                    </ul>
                </div>
                <div class="image">
                    <img src="images/a3.jfif" alt="">
                    <div class="overlay"></div>
                </div>
            </div>
        <!-- </div> -->
      </div>
      <script src="main.js"></script>
</body>
</html>
